## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
# Your code here
sample_list_1 = random.sample(range(1,101),80)
print(sample_list_1)

[29, 99, 24, 89, 86, 97, 44, 34, 90, 55, 49, 93, 53, 51, 31, 52, 78, 27, 40, 75, 43, 17, 19, 11, 88, 39, 72, 59, 71, 96, 57, 79, 4, 25, 76, 63, 42, 73, 41, 28, 12, 5, 38, 30, 100, 21, 1, 98, 85, 7, 91, 18, 67, 68, 61, 3, 15, 83, 33, 62, 58, 14, 65, 48, 10, 9, 22, 6, 81, 13, 95, 45, 37, 8, 77, 94, 87, 26, 80, 92]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [65]:
# Your code here

set1 = set(sample_list_1)
print(set1)
print(len(set1))

{1, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 17, 18, 19, 21, 22, 24, 25, 26, 27, 28, 29, 30, 31, 33, 34, 37, 38, 39, 40, 41, 42, 43, 44, 45, 48, 49, 51, 52, 53, 55, 57, 58, 59, 61, 62, 63, 65, 67, 68, 71, 72, 73, 75, 76, 77, 78, 79, 80, 81, 83, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}
80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [14]:
# Your code here 

sample_list_2 = [random.randrange(1,101) for i in range(1,81)]
print(sample_list_2)
len(sample_list_2)

[27, 39, 61, 21, 63, 19, 81, 7, 45, 28, 76, 75, 98, 26, 27, 9, 51, 32, 51, 31, 93, 34, 50, 23, 17, 70, 37, 9, 45, 27, 75, 7, 95, 24, 20, 16, 26, 10, 47, 5, 9, 63, 49, 55, 15, 77, 60, 66, 56, 50, 87, 98, 71, 4, 24, 70, 72, 31, 79, 7, 9, 60, 45, 85, 65, 94, 38, 4, 35, 58, 16, 50, 62, 26, 66, 99, 22, 3, 39, 99]

80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [42]:
set2=set(sample_list_2)
print(set2)
print(len(set2))

{3, 4, 5, 7, 9, 10, 15, 16, 17, 19, 20, 21, 22, 23, 24, 26, 27, 28, 31, 32, 34, 35, 37, 38, 39, 45, 47, 49, 50, 51, 55, 56, 58, 60, 61, 62, 63, 65, 66, 70, 71, 72, 75, 76, 77, 79, 81, 85, 87, 93, 94, 95, 98, 99}
54

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [16]:
# Your code here
set3 = set([x for x in set1 if x not in set2])
print(set3)
len(set3)

{1, 6, 8, 11, 12, 13, 14, 18, 25, 29, 30, 33, 40, 41, 42, 43, 44, 48, 52, 53, 57, 59, 67, 68, 73, 78, 80, 83, 86, 88, 89, 90, 91, 92, 96, 97, 100}

37

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [17]:
# Your code here
set4 = set([x for x in set2 if x not in set1])
print(set4)
len(set4)

{32, 66, 35, 70, 47, 16, 50, 20, 23, 56, 60}

11

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [18]:
# Your code here
set5 = set([x for x in set1 if x in set2])
print(set5)
print(len(set5))

{3, 4, 5, 7, 9, 10, 15, 17, 19, 21, 22, 24, 26, 27, 28, 31, 34, 37, 38, 39, 45, 49, 51, 55, 58, 61, 62, 63, 65, 71, 72, 75, 76, 77, 79, 81, 85, 87, 93, 94, 95, 98, 99}
43

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [44]:
# Your code here

print(f"{len(set1)} elementos únicos")
print(f"{len(set2)} elementos únicos en set2")
print(f"{len(set3)} elementos en set1 que no estan en set2")
print(f"{len(set4)} elementos en set2 que no estan en set1")
print(f"{len(set5)} elementos en común de set1 con set2")

print()

print(len(set1)==len(set3)+len(set5))
print(len(set2)==len(set4)+len(set5))

80 elementos únicos
54 elementos únicos en set2
37 elementos en set1 que no estan en set2
11 elementos en set2 que no estan en set1
43 elementos en común de set1 con set2

True
True

#### Create an empty set called `set6`.

In [2]:
# Your code here
set6=set()
print(set6)

set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [39]:
# Your code here
set6.update(set3,set5)

print(set6)
print(len(set6))

{1, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 17, 18, 19, 21, 22, 24, 25, 26, 27, 28, 29, 30, 31, 33, 34, 37, 38, 39, 40, 41, 42, 43, 44, 45, 48, 49, 51, 52, 53, 55, 57, 58, 59, 61, 62, 63, 65, 67, 68, 71, 72, 73, 75, 76, 77, 78, 79, 80, 81, 83, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}
80

#### Check if `set1` and `set6` are equal.

In [40]:
# Your code here
set1==set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [49]:
# Your code here
print(set2.issubset(set1))
print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [55]:
# Your code here
print(set1.union(set4,set5))

print()

print(set1.union(set2))

{1, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 37, 38, 39, 40, 41, 42, 43, 44, 45, 47, 48, 49, 50, 51, 52, 53, 55, 56, 57, 58, 59, 60, 61, 62, 63, 65, 66, 67, 68, 70, 71, 72, 73, 75, 76, 77, 78, 79, 80, 81, 83, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}

{1, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 37, 38, 39, 40, 41, 42, 43, 44, 45, 47, 48, 49, 50, 51, 52, 53, 55, 56, 57, 58, 59, 60, 61, 62, 63, 65, 66, 67, 68, 70, 71, 72, 73, 75, 76, 77, 78, 79, 80, 81, 83, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}

#### Using the `pop` method, remove the first element from `set1`.

In [60]:
# Your code here
print(set1.pop())

1

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [73]:
# Your code here
list_to_remove=[1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for x in list_to_remove:
    if x in set1:
        set1.remove(x)
        
print(set1)

{3, 4, 5, 6, 7, 8, 10, 12, 13, 14, 15, 17, 18, 22, 24, 25, 26, 27, 28, 30, 33, 34, 37, 38, 40, 42, 43, 44, 45, 48, 52, 53, 55, 57, 58, 62, 63, 65, 67, 68, 72, 73, 75, 76, 77, 78, 80, 83, 85, 86, 87, 88, 90, 92, 93, 94, 95, 96, 97, 98, 100}